<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cms_block_listing_data_source" xsi:type="string">MagentoHackathon\GridConfigShare\Model\ResourceModel\Bookmark\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="MagentoHackathon\GridConfigShare\Model\ResourceModel\Bookmark\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ui_bookmark_share</argument>
            <argument name="eventPrefix" xsi:type="string">bookmark_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">bookmark_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">MagentoHackathon\GridConfigShare\Model\ResourceModel\Bookmark</argument>
        </arguments>
    </type>
    <virtualType name="GridConfigShareGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BookmarkGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">MagentoHackathon\GridConfigShare\Model\ResourceModel\Bookmark\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">GridConfigShareGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>
